
<div class="signup-wrapper">

  <% if @current_user %>
  <%= render "partials/header"%>
  <%end %>

<h1 class=title>T R N D I</h1>

<%= form_tag("/search", method: "post") do %>
  <%= text_field_tag(:chicken) %><br><br>
  <%= submit_tag "SEARCH!", class:"login-btn btn btn-primary btn-lg btn-block outline", id: "login-btn facebook" %>
<% end %>


<br><br><br>
<% if @bars %>
	<% @bars.each do |bar| %>
		<%= link_to venue_path(bar) do %>
		 	<div class="venue">
		 	<ul>
 		 		<li><p class='barname'><%= bar.name %></p></li>
          <li class = 'baraddress'><%= bar.address %></li>
 		 		<%if bar.price == nil%>
	 		 		<li class="first-row price">Price range<%= " Unknown" %></li>
	 		 			<%elsif bar.price == 0%>
	 		 				<li class="first-row price"> <%= "Free" %></li>
	 		 			<%else%>
	 		 				<li class="first-row price"><%= "$" * bar.price %></li>
 		 		<%end%>

 		 		<li class = 'first-row rating'>Rating: <%= bar.rating %></li>
 		 		<li><div class= 'second-row'>Check ins: <%= bar.check_ins.active.count %></div></li>
        <li><div class= 'second-row hotness'>Hotness: <span class="glyphicon glyphicon-fire" aria-hidden="true"></span></div></li>
 			</ul>
 			</div>
      <br><br>
		<%end%>
	<% end %>
<%end%>
</div>
