<% provide(:title, "Log in") %>
<p class='new'><%= link_to "Sign up now!", new_user_path %></p>

<div class = 'row'></div>
<h1 class=title>T R N D I</h1>

<div class="row">
  <div class = 'title1'
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%#= f.label :email %>
      <%= f.email_field :email, :placeholder => "Email", class: 'form-control' %>
<br><br><br><br><br>
      <%#= f.label :password %>
      <%= f.password_field :password, :placeholder => "Password", class: 'form-control' %>
    <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span>Remember me on this computer</span>
    <% end %>
<br><br><br><br><br>
      <%= f.submit "Log in", class: "btn btn-primary btn-lg btn-block outline" %>
    <% end %>

  </div>
</div>
</div>

<%= puts @auth.inspect %>
