<div class='signup-wrapper'>
	<h1 class=title>T R N D I</h1>
<br><br>
		<h1 class='signup'>Sign Up</h1>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<%= form_for(@user) do |f| %>
					<%=render 'shared/error_messages'%>
<!--Whats that above?  -->

					<%= f.text_field :name, placeholder: 'Name', id: 'form-control' %>


					<%= f.email_field :email, placeholder: 'Email', id: 'form-control' %>


					<%= f.password_field :password, placeholder: 'Password', id: 'form-control' %>


					<%= f.password_field :password_confirmation, placeholder:'Confirmation', id: 'form-control' %>

					<%= f.submit "Create my account", class: "btn btn-primary btn-lg btn-block outline" %>
				<%end%>
			</div>
		</div>
</div>
