<!-- <p id="notice"><%= notice %></p> -->
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

	<div class= 'col-md-12'>
	<p class = 'userpage'><%= @user.name %></p></div>
	<div class = 'row'><br><br><br>
	<div class= 'col-md-12 col-md-offset-5'></div>
<br><br>
<div class = 'col-md-4'></div>
<div class='col-md-4'>
<div class = 'profilepic'>
<%=image_tag('smiley.jpg', size:'400') %>
</div></div>
<div class = 'col-md-4'></div>
<div class = 'row'></div>
<div class = 'col-md-12'><br></div>
<div class = 'col-md-12'><br></div>



<% @date = @user.created_at %>
<div class = 'email'>
	<div class = 'col-md-12'
	<p class='text'>Email : <%=@user.email%></p></div>
<div class = 'col-md-12'>
<p class='text'>Member Since : <%=@date.to_date%></p></div>
</div>



<div class = 'col-md-4'></div>
<div class = 'col-md-4'>
<p id = "check_in_link">Check Link</p>
<div id = "check_in">
	<%= form_tag("/check_in", method: "post")do %>
		<%= hidden_field_tag(:name, @name) %>
		<%#= label_tag :review, "Review" %>
		<%#= text_field_tag :review %>
		<%#= label_tag :rating, "Rating" %>
		<%#= range_field_tag :rating, value = nil,  min: 1, max: 5, step: 1 %>
		<%= submit_tag("Check In")%>
	<%end%>
</div></div>
<div class = 'col-md-4'></div>


<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>


<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
