<p id="notice"><%= notice %></p>
<div id='map'>
</div>
<%= include_gon %>
<script type="text/javascript">
     venueaddress();
</script>


<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Google rating:</strong>
  <%= @venue.rating %>
</p>

<div class="actions">


<p id = "check_in_link">Check Link</p>
<div id = "check_in">
	<%= form_tag("/check_in", method: "post")do %>
		<%= hidden_field_tag(:venue_id, @venue.id) %>
		<%= label_tag :review, "Review" %>
	  <%= text_field_tag :review %>
	  <%= label_tag :rating, "Rating" %>
	  <%= text_field_tag :rating %>
	  <%= submit_tag("Check In")%>
	<%end%>
</div>

<p><%= link_to 'Back', root_path %>

</div>

<% first = 'http://maps.apple.com/?daddr=' %>
<% last = '&z=10&t=s' %>

<%= link_to 'Open In Maps', first + @venue.lat.to_s+ ", "+ @venue.lng.to_s + last, class:'btn btn-info btn-sm'%>

<div id="active_checkIns">

	<% @elements.each do |element| %>
		<div class="review">
			<p><%= "User: " + element[:user].name%> <%="Rating: " + element[:check_in].rating.to_s%></p> 
			<p><%="Review: " + element[:check_in].review.to_s%></p>
		</div>
	<%end%>

</div>
