<p id="notice"><%= notice %></p>

<div id='map'>
</div>

<script>
var map = L.map('map').setView('<%==j@venue.lat%>','<%==j@venue.lng%>'], 13);

L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

L.marker('<%==j@venue.lat%>','<%==j@venue.lng%>']).addTo(map)
console.log("<%@venue.lat%>")

</script>



<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @venue.rating %>
</p>

<p>
  <strong>Lat and Long:</strong>
  <%= @venue.lat %> <%=@venue.lng%>
</p>

<%= link_to 'Home', root_path %>
