<p id="notice"><%= notice %></p>
<div id='map'>
</div>
<%= include_gon %>
<script type="text/javascript">
     venueaddress();
</script>


<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Google rating:</strong>
  <%= @venue.rating %>
</p>

<%= render 'partials/checkin' %>

<div class="actions">
<%=link_to 'Check in', controller: "check_ins", action: "create", venue_id: params[:id] %>
<p><%= link_to 'Back', root_path %>
</div>

<div id="active_checkIns">
<% @elements.each do |element| %>
<p><%= "User: " + element[:user].name%> <%="Rating: " + element[:check_in].rating.to_s%> <%="Review: " + element[:check_in].review.to_s%></p>
<%end%>
</div>