<p id="notice"><%= notice %></p>
<div id='map'>
</div>
<%= include_gon %>
<script type="text/javascript">
     venueaddress();
</script>


<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Google rating:</strong>
  <%= @venue.rating %>
</p>
	
<p>
	<strong>Tweets:</strong>
	<%= getTweets @venue %>	
</p>

<div class="actions">


<p id = "check_in_link">Check Link</p>
<div id = "check_in">
	<%= form_tag("/check_in", method: "post")do %>
		<%= hidden_field_tag(:venue_id, @venue.id) %>
		<%= label_tag :review, "Review" %>
	  <%= text_field_tag :review %>
	  <%= label_tag :rating, "Rating" %>
	  <%= range_field_tag :rating, value = nil,  min: 1, max: 5, step: 1 %>
	  <%= submit_tag("Check In")%>
	<%end%>
</div>

<p><%= link_to 'Back', root_path %>

</div>

<% first = 'http://maps.apple.com/?daddr=' %>
<% last = '&z=10&t=s' %>

<%= link_to 'Open In Maps', first + @venue.lat.to_s+ ", "+ @venue.lng.to_s + last, class:'btn btn-info btn-sm'%>

<div id="active_checkIns">

	<% @elements.each do |element| %>
		<div class="review">
			
			<p><%= "User: " + element[:user].name%> 
			<%="Rating: " + element[:check_in].rating.to_s%></p> 
			<p><%="Review: " + element[:check_in].review.to_s%></p>
			<% unless element[:check_in].upvoted? current_user %>
				
				<%= form_tag("/vote", method: "post") do %>
					<%= hidden_field_tag(:check_in, element[:check_in].id) %>
					<%=  submit_tag("Like") %>
				<%end%>
				
					<% else %>
					
				<%= form_tag("/downvote", method: "post") do %>
					<%= hidden_field_tag(:check_in, element[:check_in].id) %>
					<%=  submit_tag("Liked!") %>				
				<% end %>
			
			<%end%>

		</div>
	
	<%end%>

</div>