<p id="notice"><%= notice %></p>

<div id='map'>
</div>
<%= include_gon %>
<script type="text/javascript">
     venueaddress();
</script>


<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @venue.rating %>
</p>

<p>
  <strong>Lat and Long:</strong>
  <%= @venue.lat %> <%=@venue.lng%>
</p>

<%= link_to 'Home', root_path %>
