<p id="notice"><%= notice %></p>

<div id='map'>
</div>
<%= include_gon %>
<script type="text/javascript">
     venueaddress();
</script>


<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @venue.rating %>
</p>



<%= link_to 'Check in', check_in_path(@venue), method: 'post' %>
<%= link_to 'Back', root_path %>
