<p id="notice"><%= notice %></p>

<div id='map'>
</div>
<%= include_gon %>
<script type="text/javascript">
     venueaddress();
</script>


<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @venue.address %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @venue.rating %>
</p>

<%= render 'partials/checkin' %>

<br>
<%= link_to 'Check in', check_in_path(@venue), method: 'post', id: "check_in" %>
<%= link_to 'Back', root_path %>
<br>

<% if @lastCheckIn%>
	<strong>You are currently checked in at <%=@lastVenue.name%></strong>
<% end%>

<!-- Testing stuff -->
<% @active_checkins.each do |element| %>
<p><%= element['name'] %></p>
<%end%>
