<%= render 'partials/header' %>

<%= include_gon %>
<div class="signup-wrapper">
<div id='venue-name'>
	<br>
	<span><%= @venue.name %></span>
</div>

<div id='map'>
<script type="text/javascript">
     venueaddress();
</script>
</div>

<div id = 'bar_info'>
	<% first = 'http://maps.apple.com/?daddr=' %>
	<% last = '&z=10&t=s' %>
	<div id = 'address-bar'>
	<p>
		<br>
	  <span id="address"><strong>Address:</strong> <%= @venue.address %></span>
	  <%= link_to 'Open In Maps', first + @venue.lat.to_s+ ", "+ @venue.lng.to_s + last, class:'btn btn-info btn-sm', id: "map-button"%>
	</p>
	</div>
</div>


<div class="actions">
	<div id = "check_in_link"><br>Check In!</div>
	<div id = "check_in">
		<%= form_tag("/check_in", method: "post", id: "check-in-form")do %>
			<%= hidden_field_tag(:venue_id, @venue.id) %>
			<%= label_tag :review, "Review", id: "review-label" %>
		  <%= text_field_tag :review %><br>
		  <%= label_tag :rating, "Rating" %>
		  <%= range_field_tag :rating, value = nil,  min: 1, max: 5, step: 1 %>
		  <%= submit_tag "Check In", id: 'check-in-button'%>
		<%end%>
	</div>
	
	
	<div id = "check_ins"><br>Check Ins: <%=@venue.check_ins.active.count%></div>
	<div id = "tweets-galore"><br>Recent Tweets: <%=getTweets @venue%></div>

</div>



<%= link_to root_path do %>
	<div id="new-search"><br>New search</div>
<%end%>

<div id="recent-tweets">
	<% tweets = getTweetsContent @venue%>
	<% tweets.each do |tweet| %>
		<div class = "tweet">
			<br><%=tweet[:text] %>
		</div>
	<%end%>
</div>



<div id="active_checkIns">

	<% @elements.each do |element| %>
		<div class="review">
			
			<p><%= "User: " + element[:user].name%> 
			<%if current_user.following?(element[:user]) == false && current_user.id != element[:user].id%>
				<%=link_to "Follow", follow_path(element[:user].id)%>
			<%end%>
			<%="Rating: " + element[:check_in].rating.to_s%></p> 
			<p><%="Review: " + element[:check_in].review.to_s%></p>
			<% unless element[:check_in].upvoted? current_user %>
				
				<%= form_tag("/vote", method: "post") do %>
					<%= hidden_field_tag(:check_in, element[:check_in].id) %>
					<%=  submit_tag("Like") %>
				<%end%>
				
					<% else %>
					
				<%= form_tag("/downvote", method: "post") do %>
					<%= hidden_field_tag(:check_in, element[:check_in].id) %>
					<%=  submit_tag("Liked!") %>				
				<% end %>
			
			<%end%>

		</div>
	
	<%end%>
</div>
</div>