<!DOCTYPE html>
<html>
<head>
  <title>Trndy</title>
    
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
  <meta name=viewport content='width=700'>    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
 
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>


</head>
<body>

<%= render "partials/header"%>
<div class="container">
  <%if lastCheckInValid%>
    <strong>You are currently checked in at <%=lastVenue.name%></strong>
  <% end%>
	<% flash.each do |message_type, message| %>
		<div class="alert alert-<% message_type %>"><%= message %></div>
	<%end%>
	<%= yield %>
	<%= debug(params) if Rails.env.development? %>

</div>

</body>
</html>
